<div class="Profile-container" id="my-profile">
  <div class="profile-title">
    <a href="#">My profile</a>

    <div class="container">
      <h1>{{ user.name }}</h1>
      <h2>{{ user.login }}</h2>
      <img src="{{ user.avatar_url }}" alt="" width="50" height="auto" />
      <p>bio:{{ user.Bio }}</p>
      <p>repos: {{ user.public_repos }}</p>
      <p>Social: {{ user.twitter_username }}</p>
      <p>
        GitHub URL :
        <a href="{{ user.html_url }}" target="_blank">Developers repo</a>
      </p>
    </div>

    <div class="repos">
      <h2>user Repos</h2>
      <ul *ngFor="let repo of userRepos">
        <li>
          <!-- {{ repo.name }} -->
          <a href="{{ repo.html_url }}" target="_blank">{{ repo.name }}</a>
          <!-- <a href="{{repo.html_url}}"></a> -->
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- avatar_url: "https://avatars.githubusercontent.com/u/99721338?v=4"
bio: "I guess I am a developer now...\r\nokay..\"i am pleased
blog: ""
company: null
created_at: "2022-02-15T08:56:16Z"
email: null
events_url: "https://api.github.com/users/leonkae/events{/privacy}"
followers: 14
followers_url: "https://api.github.com/users/leonkae/followers"
following: 12
following_url: "https://api.github.com/users/leonkae/following{/other_user}"
gists_url: "https://api.github.com/users/leonkae/gists{/gist_id}"
gravatar_id: ""
hireable: null
html_url: "https://github.com/leonkae"
id: 99721338
location: null
login: "leonkae"
name: null
node_id: "U_kgDOBfGgeg"
organizations_url: "https://api.github.com/users/leonkae/orgs"
public_gists: 0
public_repos: 17
received_events_url: "https://api.github.com/users/leonkae/received_events"
repos_url: "https://api.github.com/users/leonkae/repos"
site_admin: false
starred_url: "https://api.github.com/users/leonkae/starred{/owner}{/repo}"
subscriptions_url: "https://api.github.com/users/leonkae/subscriptions"
twitter_username: null
type: "User"
updated_at: "2022-03-25T19:53:45Z"
url: "https://api.github.com/users/leonkae" -->
