

.search-box {
  display: block;
  margin: 180px auto 0 auto;
  padding: 10px 20px;
  max-width: 600px;
  width: 95%;
  border-radius: 10px;
  border: 3px solid rgb(3, 46, 66);
}

.search-results {
  max-width: 600px;
  width: 65%;
  margin: 20px auto 0 auto;
}

.btn-wrapper {
  justify-content: center;
  align-content: center;
  align-items: center;
}

.search-btn {
  width: 70px;
  margin-left: 49%;
  background-color: rgb(3, 46, 66);
  border: none;
  cursor: pointer;
  color: aliceblue;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-results {
  color: rgb(3, 46, 66) ;
  /* font-size: large; */
}

img {
  border-radius: 50%;
  justify-content: center;
}

.repo-btn {
  width: 170px;
  margin-left: 49%;
  background-color: rgb(3, 46, 66);
  border: none;
  cursor: pointer;
  color: aliceblue;
  margin: 0;
  position: absolute;
  
}

.section-wrapper .search-results .conatiner a{
  text-decoration: none;
}

.info-wrapper{
  background-color:rgba(3, 46, 66, 0.295) ;
  margin-top: 150px;
  margin-left: 450px;
  margin-right: 450px;
  display: flex;
  justify-content:space-between;
  /* height: 550px; */
}
.info-wrapper a{
  color: rgb(3, 46, 66);
}
.info-wrapper h2{
  font-size: 35px;
  text-decoration: overline;
  color: rgb(3, 46, 66);
}

.info-wrapper h3{
  font-size: 30px;
}

.info-wrapper p ,ol{
  font-size: 20px;
}
